<footer>
	<hr/>
	<div class="container">

	{% for site_links in footers %}
    	{% if forloop.last %}
    	<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
    	{% for copy in site_links %}
    	<p>{{copy.copyright}}</p>
    	{% endfor %}
    	</div>
    	{% else %}
    	<ul class="list-inline">
    		{% for links in site_links %}
    		<li><a href="{{links.url}}">{{links.name}}</a> <span class="text-muted">|</span> </li>
    		{% endfor %}
    	</ul>
    	{% endif %}
	{% endfor %}

	</div>
</footer>
